
.mytrainingsContainer{
    padding: 20px;
}

.mytrainingsContainer>h1{
    text-align: center;
    font-size: 36px;
    padding: 10px 20px;
    margin: 0px 20px;
    border-bottom: 1px solid rgba(41, 40, 40, 0.212);
}

.mytrainings{
    margin: 30px 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


.mytrainings>div{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    margin: 20px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    
}



.mytrainings>div:hover{
    transform: scale(1.02);
}

.close-icon {
    color: red;
    stroke: rgb(243, 11, 11) !important;
    cursor: pointer;
    position: absolute;
    right: 1px;
    top: 1px;
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
    font-weight: bold;
    z-index: 100;
  }

  .edit_icon {
    color: green;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 1px;
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* line-height: 20px; */
    text-align: center;
    border: 1px solid #999;
    /* font-size: 10px; */
    /* font-weight: bold; */
  }

.add_icon{
    font-size: 50px;
}

/*Delete Training popup*/

.con-popup {
    position: absolute;
    background: whitesmoke;
    width: 500px;
    height: 250px;
    top:40%;
    left: 40%;
    display: grid;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
  }

.delTrain {
    height: 68px;
    background: black;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
  }

  .delTrain h2 {
    color: white ;
    padding-top: 15px;
    padding-left: 32px;
    font-weight: normal;
  }

/* Edit Popup style */
.popup-edit {
    position: fixed;
    background: whitesmoke;
    width: 500px;
    height: 350px;
    top:40%;
    left: 40%;
    display: grid;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
  }

.editTrain {
  height: 68px;
  background: black;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}

.editTrain h2 {
  color: white ;
  padding-top: 15px;
  padding-left: 32px;
  font-weight: normal;
}