.newuserContainer
{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newuser>p{
    background-color: rgb(46, 200, 102);
    /* background-color: gray; */
    color: white;
    margin: 5px auto;
    padding: 10px 20px;
    border-radius: 3px;
    width: fit-content;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
}

.newuser>p:hover{
    background-color: rgba(46, 200, 102, 0.829);
}