/* styling for interns */

.internsContainerWrapper{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.internHeader{
    display: flex;
    width: 85vw;
    margin: 0px auto;
}

.internHeader>h2
{
    text-align: center;
    width: 100%;
    font-size: 24px;
    padding: 10px;
}

.internHeader>span{
    position: absolute;
}

.backButton{
    font-size: 28px;
    margin-top: 5px;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.backButton:hover{
    background-color: var(--color-Hover);

}

.internsContainer{
    width: 85vw;
    height: 70vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: grid;
    grid-template-columns: 80% 20%;
}

.internsTableContainer{
    height: 60vh;
}

.internsGroupsContainer
{
    background-color: rgb(14, 20, 30);
    max-height:60vh;
    overflow-y: scroll;
}

.internsGroupsContainer>div{
    font-size: 22px;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--color-body);
}

.internsGroupsContainer>div:hover{
    background-color: var(--color-buttons);
}

.titleContainer{
    background-color: var(--color-topbar);
    height: 10vh;
    color: var(--color-body);
    padding: 0px 10px;
    display: grid;
    grid-template-columns: 75% 25%;
}

.groupContainer{
    height: 10vh;
    background-color: rgb(19, 28, 44);
    color: var(--color-body);
}

.titleWrapper{
    display: flex;
}


.addIntern{
    color: var(--color-buttons);
    padding: 0px 10px;
    font-size: 27px;
    cursor: pointer;
}

.addIntern:hover{
    transform: scale(1.1);
}

.internIcons{
    font-size: 28px;
    padding-top: 5px;
}

.groupWrapper{
    display: flex;
}

.groupWrapper>p{
    font-weight: 600;
    font-size: 20px;
}

.titleIntern{
    font-weight: 600;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

.titleWrapper>p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.groupWrapper>p{
    padding-top: 15px;
    padding-left: 25px;
}

.inputContainer>h2{
    text-align: center;
    margin: 5px 0px;
}

.internWrapperDiv{
    height: 50vh;
    overflow-y: scroll;
}

.ListInternWrapper{
    display: flex;
    padding: 5px 0px;
}

.ListInternWrapper>p{
    padding: 3px 0px;
    font-weight: 500;
}