
.mytrainingsContainer{
    /* padding: 20px; */
}

.mytrainingsContainer>h1{
    text-align: center;
    font-size: 36px;
    padding: 10px 20px;
    margin: 0px 40px;
    border-bottom: 1px solid rgba(58, 56, 56, 0.212);
}

.mytrainings{
    /* margin: 30px 40px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


.mytrainings>div{
    width: 25vw;
    height: 25vh;
    margin: 3vw;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    
}


.mytrainings>div:hover{
    transform: scale(1.02);
}

.trainingText{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.iconContainer{
  display: flex;
  justify-content: right;
}

.close-icon {
  font-size: 35px;
  padding: 5px;
  color: rgb(255, 54, 54);
}

.close-icon:hover{
  background-color: rgba(0, 0, 0, 0.295);
  border-radius: 50%;
}

.edit_icon {
  font-size: 28px;
  padding:7px;
  color: rgb(94, 132, 255);
}

.edit_icon:hover{
  background-color: rgba(0, 0, 0,  0.295);
  border-radius: 50%;

}

.add_icon{
    font-size: 30px;
}

/* Popup style */

.popupContainer
{
  top:0%;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #00000046;
}

.popup-boxd {
    position: absolute;
    background: whitesmoke;
    width: 35vw;
    height: fit-content;
    padding-bottom: 20px;
    top:40%;
    left: 50%;
    transform: translate(-50%,-40%);
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
  }

.newTrain {
  height: 68px;
  background: black;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}

.newTrain h2 {
  text-align: center;
  color: white;
  padding-top: 15px;
  font-weight: normal;
}

.input-group {
    margin: 30px 0;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
}

.input-group label {
  /* position: absolute; */
  font-size: 18px;
  padding-top: 10px;
  /* transform: translateY(-50%); */
  font-weight: 500;
}

.input-group input {
  /* position: relative; */
  height: 100%;
  width: 70%;
  padding:5px 20px;
  /* margin-left: 40px; */
  font-size: 17px;
  border: 1px solid lightgrey;
}

.input-group textarea {
  /* position: relative; */
  height: 100%;
  width: 70%;
  padding:5px 20px;
  /* margin-left: 40px; */
  font-size: 17px;
  border: 1px solid lightgrey;
}

.input-group select {
  /* position: relative; */
  height: 100%;
  width: 83%;
  padding:10px 20px;
  /* margin-left: 50px; */
  font-size: 17px;
  border: 1px solid lightgrey;
}

#val {
  margin-left: 155px;
  color: red;
}

  .submit-btn, .cancel-btn {
    width: 150px;
    margin-left: 80px;
    border: 1px solid #27ae60;
    border-radius: 3px;
    color: #27ae60;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
  }

.cancel-btn:hover, .submit-btn:hover {
  background: #27ae60;
  color: white;
}



/*Delete Training popup*/

.con-popup {
  position: absolute;
  background: whitesmoke;
  width: 500px;
  height: 250px;
  top:40%;
  left: 50%;
  transform: translate(-50%,-40%);
  display: grid;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
}

.delTrain {
  height: 68px;
  background: black;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}

.delTrain h2 {
  color: white ;
  padding-top: 15px;
  padding-left: 32px;
  font-weight: normal;
}

/* Edit Popup style */
.popup-edit {
  position: fixed;
  background: whitesmoke;
  width: 500px;
  height: 350px;
  top:40%;
  left: 40%;
  display: grid;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
}

.editTrain {
height: 68px;
background: black;
overflow: hidden;
border-radius: 3px 3px 0 0;
box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}

.editTrain h2 {
color: white ;
padding-top: 15px;
padding-left: 32px;
font-weight: normal;
}