.employeeContainer
{
    display: block;
    width: 100vw;
    margin: 5% auto;
}

table
{
    margin: 0px auto;
    border-collapse: collapse;
    font-size: 22px;
    border-radius: 5px;
    box-shadow: rgba(118, 245, 186, 0.795) 0px 8px 24px;
}

thead
{
    background-color: rgb(19, 28, 44);
    color: white;
    border-radius: 5px;
}

th{
    padding: 20px 40px;
}

td{
    padding: 20px 40px;
}

tr:nth-child(even)
{
    background-color: rgb(216, 216, 216);
}

.edit-icon,
.del_icon
{
    padding: 0px 10px;
    font-size: 25px;
    cursor: pointer;
}

.edit-icon
{
    color: rgb(94, 132, 255);
}

.del_icon
{
    color: rgb(255, 54, 54);
}

.edit-icon:hover,
.del_icon:hover
{
    transform: scale(1.1);
}