.topicContainer
{
    width: 55vw;
    margin: 5px auto;
    margin-top: 10px;
    height: 87vh;
    box-shadow: rgba(0, 0, 0, 0.137) 0px 10px 20px;
}
.topicWrapper>h2
{
    text-align: center;
    font-size: 24px;
    padding: 10px;
    margin: 0px 10px;
}
.topicNavbar{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--color-topbar);
    color: var(--color-body);
}
.buttonsWrapper{
    display: flex;
}
.buttonsWrapper>p{
    font-size: 20px;
    padding: 15px 20px;
    font-weight: 500;
    cursor: pointer;
}
.buttonsWrapper>p:hover{
    background-color: var(--color-buttons);
}
.searchWrapper{
    /* display: flex; */
}
.topicAdd{
    font-weight: 500;
    background-color: var(--color-buttons);
    font-size: 18px;
    margin: 14px 8px;
    padding: 4px 15px;
    border-radius: 3px;
    cursor: pointer;
}
.topicAdd:hover{
    background-color: var(--color-buttonsHover);
}

.topicsdiv{
    height: 70vh;
    overflow-y: scroll;
}
.topicbar{
    display: grid;
    grid-template-columns: 6% 73% 7% 7% 7%;
    width: inherit;
    box-shadow: rgba(0, 0, 0, 0.137) 0px 10px 20px;
    margin: 15px 20px;
    padding: 10px;
    cursor: pointer;
}

.topicbar:hover{
    transform: scale(1.01);
}

.topicbar>p{
    padding: 2px;
    padding-left: 10px;
    font-weight: 500;
    font-size: 18px;
}
.topicbar>div{
    float: right;
    justify-content: right;
}
input[type=checkbox] {
    position: relative;
      border: 2px solid var(--color-buttons);
      border-radius: 2px;
      background: none;
      cursor: pointer;
      line-height: 0;
      margin: 5px .6em 0 5px;
      outline: 0;
      padding: 0 !important;
      vertical-align: text-top;
      height: 20px;
      width: 20px;
      -webkit-appearance: none;
    opacity: .5;
  }
  input[type=checkbox]:hover {
    opacity: 1;
  }
  input[type=checkbox]:checked {
    background-color: var(--color-buttons);
    opacity: 1;
  }
  input[type=checkbox]:before {
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border: solid var(--color-body);
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
  }


  .info-icon{
    padding: 0px 10px;
    font-size: 25px;
    color: rgb(25, 40, 66);
    cursor: pointer;
  }

  .info-icon:hover{
    transform: scale(1.1);
  }


.uploadIcon{
    color: rgb(22, 22, 71);
    font-size: 25px;
    cursor: pointer;
}

.uploadIcon:hover{
    transform: scale(1.1);
}

.scrHeader{
    display: flex;
    width: inherit;
    margin: 0px auto;
    margin-bottom: 50px;
}

.scrHeader>h2
{
    z-index: 5;
    background-color: var(--color-back);
    position: absolute;
    text-align: center;
    width: 96%;
    font-size: 24px;
    padding: 5px 0px;
    margin:0px 10px;
    border-bottom: 1px solid rgba(163, 160, 160, 0.61);
}

.scrHeader>span{
    z-index: 5;
    position: absolute;
    right: 2%;
}

.scoreBtn{
    font-size: 28px;
    margin-top: 10px;
    padding-left: 7px;
    cursor: pointer;
}