.trainers {
    font-family: Arial,Helvetica,sans-serif;
    margin-top: 2%;
    margin-left: 20%;
    padding: 5px;
    width: 60%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}  

  
  .table-header {
    font-family: Arial,Helvetica,sans-serif;
    color:#738f93;
    letter-spacing: 1.4px;
    font-size: 14px;
    display: flex;
    padding: 10px;
    margin-top :2px;
    margin-bottom: 5px;
    /* border-bottom: 1px solid #aba4a4; */
    
  }
  
  .header-col {
    flex: 0.5;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
  }
  
  .trainer-row{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px;
    border-bottom: 1px solid #cdc6c6;

  }

  .trainer-row:nth-child(odd)
  {
    background-color: rgb(228, 228, 228);
  }
  
  .trainer-col {
    flex: 1;
    margin-right: 10px;
    text-align: center;
  }
  
  .trainer-name {
    text-transform: capitalize;
    font-size: 20px;
    color:#0E141E;
  }
  
  .email {
    font-size: 20px;
    color:#0E141E;
  }
  
  .skill {
    text-transform: uppercase;
    font-size: 20px;
    color:#0E141E;
  }

  .add-button{
    margin-right: 50%;
    font-size: 15px;
    font-weight: bold;
    background-color: #4CAF50;
    border-radius: 8px; 
    color: white;
    cursor: pointer; 
    border-color: #4CAF50;
    padding: 0px 10px;
  }
  .add-button:hover{
    background-color: #3e8e41; 
  }
  .delete-button {
    font-size: 16px;
    padding: 12px 24px;
    background-color: #f44336;
    border-radius: 8px; 
    color: white;
    cursor: pointer; 
    border-color: #f44336;


  }
  .delete-button:hover{
    background-color: #f44336c4;
  }


  /* .button-container{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top:20px;
  } */

  .buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;

  }

  .buttons-container input[type=text]{
    border: 1px solid #ccc; 
    float: none;
    display: block;
    text-align: left;
    width: 30%;
    margin: 0;
    padding: 14px;
    border-radius: 50px;
  }

  .search-bar {
    margin-left: 10px;
    display: flex;
    align-items: center;
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar input[type="text"] {
    flex: 1;
    height: 100%;
    width:40%;
    padding: 10px 20px;
    border: none;
    outline: none;
  }
  
  .search-bar button[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .search-bar button[type="submit"]:hover {
    background-color: #000000;
  }
  

  .profileIconButton {
    /* width: 30px;
    height: 30px; */
    /* border-radius: 50%; */
    border: none;
    /* overflow: hidden; */
    cursor: pointer;
    /* color: black; */
    /* background-color:none; */
    padding: 0px 10px;
    font-size: 25px;
    cursor: pointer;
  }

  /* .profileIconButton>img{
    width:100%;
    height: 100%;
    object-fit: cover;
  } */

  .profileIconButton:hover{
    transform: scale(1.1);
  }
 
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }

  .popup-content{
    position: absolute;
    background: whitesmoke;
    width: 40vw;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
    padding-bottom: 20px;
  }

  .trainer-details{
    height: 68px;
    background: black;
  }

  .trainer-details>h2{
    text-align: center;
    color: white;
    padding-top: 15px;
    font-weight: normal;
  }

  .popup-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    
  }


  .popup-data>div{
    font-size: 20px;
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: 40% 60%;
    margin: 10px auto;
    width:90%;
  }
  
  .popup-data>div> div {
    padding: 0px 20px;
  }
  
  .popup-close {
    /* margin-top: 10px; */
    width: 150px;
    border: 1px solid #27ae60;
    border-radius: 3px;
    color: #27ae60;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
  }

  .popup-close:hover{
    background: #27ae60;
    color: white;
  }


  .deleteIconButton{
    position: absolute;
    top: 77px;
    right: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    cursor: pointer;
  }

  .deleteIconButton>img{
    width:100%;
    height: 100%;
    object-fit: cover;
  }

  .deleteIconButton:hover{
    transform : scale(1.2);
  }

  .editIconButton{
    width: 150px;
    border: 1px solid #27ae60;
    border-radius: 3px;
    color: #27ae60;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
    /* border-radius: 50%; */
    /* border: none;
    overflow: hidden; */
  }

  /* .editIconButton>img{
    width:80%;
    height: 80%;
    object-fit: cover;
  } */

  .editIconButton:hover{
    background: #27ae60;
    color: white;
  }

  .button-container{
    display: flex;
    justify-content: space-around;
  }

  /* .availability-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  .submit-button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #006F8E;
  } */

  .trainerContainer
  {
      display: block;
      width: 100vw;
      margin: 5% auto;
  }
  
  table
  {
      margin: 0px auto;
      border-collapse: collapse;
      font-size: 22px;
      border-radius: 5px;
      box-shadow: rgba(118, 245, 186, 0.795) 0px 8px 24px;
  }
  
  thead
  {
      background-color: rgb(19, 28, 44);
      color: white;
      border-radius: 5px;
  }
  
  th{
      padding: 20px 40px;
  }
  
  td{
      padding: 20px 40px;
  }
  
  tr:nth-child(even)
  {
      background-color: rgb(216, 216, 216);
  }
  
  .edit-icon,
  .del_icon
  {
      padding: 0px 10px;
      font-size: 25px;
      cursor: pointer;
  }
  
  .edit-icon
  {
      color: rgb(94, 132, 255);
  }
  
  .del_icon
  {
      color: rgb(255, 54, 54);
  }
  
  .edit-icon:hover,
  .del_icon:hover
  {
      transform: scale(1.1);
  }





  
  

  
  
  
  