.trainers {
    font-family: Arial,Helvetica,sans-serif;
    margin-top: 2%;
    margin-left: 20%;
    padding: 5px;
    width: 60%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}  

  
  .table-header {
    font-family: Arial,Helvetica,sans-serif;
    color:#738f93;
    letter-spacing: 1.4px;
    font-size: 14px;
    display: flex;
    padding: 10px;
    margin-top :2px;
    margin-bottom: 5px;
    /* border-bottom: 1px solid #aba4a4; */
    
  }
  
  .header-col {
    flex: 0.5;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
  }
  
  .trainer-row{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px;
    border-bottom: 1px solid #cdc6c6;

  }

  .trainer-row:nth-child(odd)
  {
    background-color: rgb(228, 228, 228);
  }
  
  .trainer-col {
    flex: 1;
    margin-right: 10px;
    text-align: center;
  }
  
  .trainer-name {
    text-transform: capitalize;
    font-size: 20px;
    color:#0E141E;
  }
  
  .email {
    font-size: 20px;
    color:#0E141E;
  }
  
  .skill {
    text-transform: uppercase;
    font-size: 20px;
    color:#0E141E;
  }

  .add-button{
    margin-right: 50%;
    font-size: 15px;
    font-weight: bold;
    background-color: #4CAF50;
    border-radius: 8px; 
    color: white;
    cursor: pointer; 
    border-color: #4CAF50;
    padding: 0px 10px;
  }
  .add-button:hover{
    background-color: #3e8e41; 
  }
  .delete-button {
    font-size: 16px;
    padding: 12px 24px;
    background-color: #f44336;
    border-radius: 8px; 
    color: white;
    cursor: pointer; 
    border-color: #f44336;


  }
  .delete-button:hover{
    background-color: #f44336c4;
  }


  .button-container{
    display: flex;
    flex-direction: row;
    margin:20px 0px;
    margin-left: 10px;
  }

  .button-container input[type=text]{
    border: 1px solid #ccc; 
    float: none;
    display: block;
    text-align: left;
    width: 30%;
    margin: 0;
    padding: 14px;
    border-radius: 50px;
  }

  .search-bar {
    margin-left: 10px;
    display: flex;
    align-items:center;
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar input[type="text"] {
    flex: 1;
    height: 100%;
    width:40%;
    padding: 10px 20px;
    border: none;
    outline: none;
  }
  
  .search-bar button[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .search-bar button[type="submit"]:hover {
    background-color: #000000;
  }
  
  .search-bar button[type="submit"] i {
    font-size: 24px;
  }

  .profileIconButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    cursor: pointer;
  }

  .profileIconButton>img{
    width:100%;
    height: 100%;
    object-fit: cover;
  }

  .profileIconButton:hover{
    transform: scale(1.2);
  }
 
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }

  .popup-content{
    position: absolute;
    background: whitesmoke;
    width: 500px;
    height: 400px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
  }

  .trainer-details{
    height: 68px;
    background: black;
  }

  .trainer-details>h2{
    text-align: center;
    color: white;
    padding-top: 15px;
    padding-left: 32px;
    font-weight: normal;
  }

  .popup-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }


  .popup-data>div{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    width:80%;
    padding-top: 6px;
  }
  
  .popup-data>div> span {
    margin-right: 20px;
  }
  
  .popup-close {
    margin-top: 20px;
    width: 150px;
    margin-left: 174px;
    border: 1px solid #27ae60;
    border-radius: 3px;
    color: #27ae60;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
  }

  .popup-close:hover{
    background: #27ae60;
    color: white;
  }


  .deleteIconButton{
    position: absolute;
    top: 77px;
    right: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    cursor: pointer;
  }

  .deleteIconButton>img{
    width:100%;
    height: 100%;
    object-fit: cover;
  }

  .deleteIconButton:hover{
    transform : scale(1.2);
  }

  .editIconButton{
    position: absolute;
    top: 122px;
    right: 4px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    cursor: pointer;
  }

  .editIconButton>img{
    width:80%;
    height: 80%;
    object-fit: cover;
  }

  .editIconButton:hover{
    transform : scale(1.2);
  }

  .availability-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  .submit-button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #006F8E;
  }




  
  

  
  
  
  