.trainers {
    font-family: Arial,Helvetica,sans-serif;
    margin:0 auto;
    margin-top: 4%;
    padding: 5px 0px;
    width: 80%;
    background: white;
    /* border-radius: 20px; */
    box-shadow: rgba(118, 245, 186, 0.795) 0px 8px 24px;
}  
  /* h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 1.4px;
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
  } */
  
  .table-header {
    font-family: Arial,Helvetica,sans-serif;
    color:#738f93;
    letter-spacing: 1.4px;
    font-size: 14px;
    display: flex;
    padding: 20px;
    margin-top :2px;
    margin-bottom: 5px;
    /* border-bottom: 1px solid #aba4a4; */
    
  }
  
  .header-col {
    flex: 0.5;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
  }
  
  .trainer-row{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 5px 0px;
    /* border-radius: 26px; */
    /* border-bottom: 1px solid #cdc6c6; */

  }

  .trainer-row:nth-child(odd)
  {
    background-color: rgb(228, 228, 228);
  }
  
  .trainer-col {
    flex: 1;
    margin-right: 10px;
    text-align: center;
  }
  
  .trainer-id {
    /* font-weight: bold; */
    font-size: 20px;
    color:#0E141E;
  }
  
  .trainer-name {
    text-transform: capitalize;
    font-size: 20px;
  }
  
  .email {
    font-size: 20px;
  }
  
  .skill {
    text-transform: uppercase;
    font-size: 20px;
  }

  .add-button{
    margin-right: 50%;
    font-size:20px;
    padding: 12px 24px;
    background-color: #4CAF50;
    border-radius: 8px; 
    color: white;
    cursor: pointer; 
    border-color: #4CAF50;
    padding: 6px 30px;
  }
  .add-button:hover{
    background-color: #3e8e41; 
  }
  .delete-button {
    font-size: 16px;
    padding: 12px 24px;
    background-color: #f44336;
    border-radius: 8px; 
    color: white;
    cursor: pointer; 
    border-color: #f44336;


  }
  .delete-button:hover{
    background-color: #f44336c4;
  }

  /* .search-button {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 12px 24px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 30px;
    border-color: #4CAF50; 
  }
  
  .search-button:hover {
    background-color: #3e8e41; 
  } */

  .button-container{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top:20px;
  }

  .button-container input[type=text]{
    border: 1px solid #ccc; 
    float: none;
    display: block;
    text-align: left;
    width: 30%;
    margin: 0;
    padding: 14px;
    border-radius: 50px;
  }

  .search-bar {
    margin-left: 80px;
    display: flex;
    align-items: center;
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar input[type="text"] {
    flex: 1;
    height: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
  }
  
  .search-bar button[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .search-bar button[type="submit"]:hover {
    background-color: #000000;
  }
  
  .search-bar button[type="submit"] i {
    font-size: 24px;
  }
  
  
  