  

  .trainersHeader>h1{
    width: 70vw;
    text-align: center;
    font-size: 26px;
    padding: 10px;
    margin:0px auto;
    border-bottom: 1px solid rgba(58, 56, 56, 0.212);
}

  .profileIconButton {
    border: none;
    cursor: pointer;
    padding: 0px 10px;
    font-size: 25px;
    cursor: pointer;
  }

  .profileIconButton:hover{
    transform: scale(1.1);
  }
 
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }

  .popup-content{
    position: absolute;
    background: var(--color-back);
    width: 40vw;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
    padding-bottom: 20px;
  }

  .trainer-details{
    height: 68px;
    background: var(--color-text);
  }

  .trainer-details>h2{
    text-align: center;
    color: var(--color-body);
    padding-top: 15px;
    font-weight: normal;
  }

  .popup-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    
  }


  .popup-data>div{
    font-size: 20px;
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: 40% 60%;
    margin: 10px auto;
    width:90%;
  }
  
  .popup-data>div> div {
    padding: 0px 20px;
  }
  
  .popup-close {
    width: 150px;
    border: 1px solid var(--color-buttons);
    border-radius: 3px;
    color: var(--color-buttons);
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
  }

  .popup-close:hover{
    background: var(--color-buttons);
    color: var(--color-body);
  }


  .deleteIconButton{
    cursor: pointer;
  }

  .deleteIconButton:hover{
    transform : scale(1.2);
  }

  .editIconButton{
    cursor: pointer;
  }

  .editIconButton:hover{
    transform : scale(1.2);
  }

  .shareIcon{
    font-size: 23px;
    padding: 5px 0px;
    margin: 0px 10px;
    cursor: pointer;
    color: var(--color-share);
  }

  .ExcelIcon{
    font-size: 25px;
    color: var(--color-excel);
    margin-right: 20px;
  }

  .shareIcon:hover{
    transform : scale(1.1);
  }


  .trainerContainer
  {
      margin-top: 10px;
      display: block;
      width: 100vw;
      align-items: center;
    }

.availability {
  border-radius: 5px;
  padding: 10px;
}


.del_icon {
  color: var(--color-del);
  cursor: pointer;
}

.trainernavbar{
  margin: 0px auto;
  width: 70vw;
  display: grid;
  grid-template-columns: 15% 85%;
  margin-top: 20px;
}


.add-button1{
  background-color: var(--color-buttons);
  border: none;
  color: var(--color-buttons);
  padding: 13px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:12px;
  font-weight: bold;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5vw;
  width:30%;
}

.add-button1:hover{
  transform: scale(1.1);
}



#val {
  color: var(--color-del);
  font-weight: 500;
  padding:0px 10px;
  padding-top: 4px;
  font-size: 6px;
}


#avlpop{
  z-index: 1;
}

#avldelpop{
  z-index: 2;
}

.popupContainer p{
  width: 100%;
  overflow-x: auto;
  overflow-wrap: break-word;
  display: inline-block;
}

.res_profile {
  max-height:100vh;
  width: 40vw;
  overflow-y: auto;
}

@media all and (max-width:500px){
  .trainernavbar{
    margin: 0px auto;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: no-wrap;
    margin-top: 20px;
  }
  .add-button{
    width: 100%;
    font-size: 12px;
    padding: 8px 10px;
  }
  .buttonContainer2{
    width: 100%;
  }
  .shareIcon{
    font-size: 20px;
    padding: 5px 0px;
    margin: 0px 5px;
    cursor: pointer;
    color: var(--color-share);
  }
  

  .ExcelIcon{
    font-size: 22px;
    color: var(--color-excel);
    margin-right: 20px;
  }

  .buttonContainer2{
    display: flex;
    justify-content: space-between;
  }

  .search-bar2>input{
    width:20vw;
  }
  .trainernavbar{
    width:80vw;
  }
  table{
    width:70%;
  }
  tbody{
    width:100%;
  }
  th{
    padding: 15px 5px;
    font-size: 16px;
  }
  .actionButton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .profileIconButton {
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    padding: 2px;
  }
  .edit-icon{
    font-size: 20px;
    padding: 2px;
  }
  .del_icon{
    font-size: 20px;
    padding: 2px;
  }

  .res_inputContainer{
    display: flex;
    flex-direction: column;
  }

  .res_buttonsContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .internWrapperDiv{
    width: 90%;
  }

  .ListInternWrapper>p{
    width: 100%;
    overflow-x: hidden;
    display: inline-block;
  }
  .res_profile {
    width: 75vw;;
  }
  .input-group>label{
    width:100px;
  }
}

@media all and (min-width:500px) and (max-width:900px){
  .trainernavbar{
    margin: 0px auto;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: no-wrap;
    margin-top: 20px;
  }
  .ListInternWrapper>p{
    width: 100%;
    overflow-wrap: break-word;
    display: inline-block;
  }
  .res_profile {
    width: 55vw;;
  }
  .res_inputContainer{
    display: flex;
    flex-direction: column;
  }
  table{
    width:70vw;
  }
  tbody{
    width:100%;
  }
  thead{
    width:100%;
  }
  .actionButton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .input-group>label{
    width:100px;
  }
}
