  

  .profileIconButton {
    border: none;
    cursor: pointer;
    padding: 0px 10px;
    font-size: 25px;
    cursor: pointer;
  }

  .profileIconButton:hover{
    transform: scale(1.1);
  }
 
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }

  .popup-content{
    position: absolute;
    background: whitesmoke;
    width: 40vw;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
    padding-bottom: 20px;
  }

  .trainer-details{
    height: 68px;
    background: black;
  }

  .trainer-details>h2{
    text-align: center;
    color: white;
    padding-top: 15px;
    font-weight: normal;
  }

  .popup-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    
  }


  .popup-data>div{
    font-size: 20px;
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: 40% 60%;
    margin: 10px auto;
    width:90%;
  }
  
  .popup-data>div> div {
    padding: 0px 20px;
  }
  
  .popup-close {
    /* margin-top: 10px; */
    width: 150px;
    border: 1px solid #27ae60;
    border-radius: 3px;
    color: #27ae60;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
  }

  .popup-close:hover{
    background: #27ae60;
    color: white;
  }


  .deleteIconButton{
    cursor: pointer;
  }

  .deleteIconButton:hover{
    transform : scale(1.2);
  }

  .editIconButton{
    cursor: pointer;
  }



  .editIconButton:hover{
    transform : scale(1.2);
  }

 



  .trainerContainer
  {
      margin-top: 10px;
      display: block;
      width: 100vw;
      align-items: center;
  }
  
  table
  {
      margin: 0px auto;
      border-collapse: collapse;
      font-size: 22px;
      border-radius: 5px;
      /* box-shadow: rgba(118, 245, 186, 0.795) 0px 8px 24px; */
  }
  
  thead
  {
      background-color: rgb(19, 28, 44);
      color: white;
      /* border-radius: 5px; */
  }
  
  th{
      padding: 20px 40px;
  }
  
  td{
      padding: 20px 40px;
  }
  
  tr:nth-child(even)
  {
      background-color: rgb(216, 216, 216);
  }
  
  .edit-icon,
  .del_icon
  {
      padding: 0px 10px;
      font-size: 25px;
      cursor: pointer;
  }
  
  .edit-icon
  {
      color: rgb(94, 132, 255);
  }
  
  .del_icon
  {
      color: rgb(255, 54, 54);
  }
  
  .edit-icon:hover,
  .del_icon:hover
  {
      transform: scale(1.1);
  }


.popupContainer1 {
  top: 0%;
  left: 0%;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #00000046;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-boxd1 {
  position: absolute;
  margin-top: 8vh;
  background: whitesmoke;
  width: 55vw;
  height: fit-content;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
}

.popupHeader1 h2 {
  text-align: center;
  padding: 2px 0;
  color: white;
  font-weight: normal;
  background-color: black;
}

.inputContainer1 {
  width: 50vw;
  display: block;
  margin: 0px auto;
}

.input-group1 {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 5px auto;
}

.input-group1 label {
  font-size: 18px;
  padding-top: 10px;
  font-weight: 500;
}

.input-group1 p {
  padding: 10px 30px;
  font-size: 17px;
}

.availability {
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  padding: 10px;
}


.del_icon {
  color: red;
  cursor: pointer;
}




.add-button1{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 13px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:12px;
  font-weight: bold;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5vw;
  width:30%;
}

.add-button1:hover{
  transform: scale(1.1);
}

.availablityTable
{
    margin: 0px auto;
    border-collapse: collapse;
    font-size: 10px;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.795) 0px 8px 24px;
}

.availablitytr{
  padding: 0px;
}

.availablitytd{
  padding: 0px;
  text-align: center;
}

#val {
  color: red;
  font-weight: 500;
  padding:0px 10px;
  padding-top: 4px;
  font-size: 6px;
}


#avlpop{
  z-index: 10;;
}
