.defText{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grp{
    display: inline;
}

.scheduleDetails{
    background-color: var(--color-back);
}

#popUp{
    padding: 12.4px 0;
}


.Excel-Icon{
    color: var(--color-excel);
    margin-right: 20px;
    margin-top: 10px;
  }

  .shareIcon:hover{
    transform : scale(1.1);
  }

