*{
  margin: 0;
  padding: 0;
}

a{
  color: inherit;
text-decoration: none;
}

a:hover {
text-decoration:none; 
cursor:pointer;  
}


/* new styling for popup */


.popupContainer
{
  top:0%;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #00000046;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-boxd {
    position: absolute;
    background: whitesmoke;
    width: 35vw;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
  }

  .popupHeader h2 {
    text-align: center;
    padding: 10px 0;
    color: white;
    font-weight: normal;
    background-color: black;
  }

.inputContainer{
  width: 25vw;
  display: block;
  margin: 0px auto;
}

.input-group {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 25px auto;
}

.input-group label {
  font-size: 18px;
  padding-top: 10px;
  font-weight: 500;
} 

.input-group input {
  padding:5px 20px;
  font-size: 17px;
  border: 1px solid lightgrey;
}

#val {
  color: red;
  font-weight: 500;
}

.input-group textarea {
  padding:5px 20px;
  font-size: 17px;
  border: 1px solid lightgrey;
}

.input-group select {
  padding:10px 20px;
  font-size: 17px;
  border: 1px solid lightgrey;
}

.buttonsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.buttonsContainer>button{
    width: fit-content;
    border: 1px solid #27ae60;
    border-radius: 3px;
    color: #27ae60;
    padding: 8px 40px;
    font-size: 18px;
    cursor: pointer;
    margin:0px 40px;
}

.buttonsContainer>button:hover{
  background: #27ae60;
  color: white;
}